<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sprve.aclservice.mapper.RoleMapper">
    <resultMap type="Role" id="RoleResult">
        <id     property="roleId"       column="role_id"      />
        <result property="roleName"     column="role_name"    />
        <result property="roleCode"     column="role_code"     />
        <result property="gmtCreate"    column="gmt_create"  />
        <result property="gmtModified"  column="gmt_modified"  />
    </resultMap>
    <delete id="deleteRolePermission">
        delete from acl_role_permission where role_id = #{id}
    </delete>
    <select id="checkRole" resultType="java.lang.Integer">
        select count(*) from acl_user_role where role_id = #{roleId}
    </select>
</mapper>